* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

a[href^="tel"] {
  color: rgb(227, 195, 122);; /* Черный, как мой кофе ☕ */
  text-decoration: none;
}

@font-face {
  font-family: "Montserrat-Light";
  src: url(../fonts/Montserrat-Light.woff2) format("woff2"), url(../fonts/Montserrat-Light.woff) format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat-Light-Italic";
  src: url(../fonts/Montserrat-LightItalic.woff2) format("woff2"), url(../fonts/Montserrat-LightItalic.woff) format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Optimal-Regular";
  src: url(../fonts/Optimal.woff2) format("woff2"), url(../fonts/Optimal.woff) format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
body {
  overflow-x: hidden;
}

canvas {
  filter: grayscale(1);
}

.title-1 {
  font-size: 5.6rem;
  letter-spacing: 2.5px;
  line-height: 7.2rem;
  color: white;
  font-family: "Optimal-Regular";
}

.title-2 {
  font-size: 4rem;
  letter-spacing: 2.5px;
  line-height: 5.2rem;
  color: white;
  font-family: "Optimal-Regular";
}

.title-3 {
  font-size: 1.6rem;
  line-height: 150%;
  color: rgb(35, 34, 40);
  font-family: "Optimal-Regular";
}

.desc-1 {
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height: 150%;
  color: rgb(177, 177, 177);
  font-family: "Montserrat-Light";
}

.desc-2 {
  font-size: 1.4rem;
  line-height: 150%;
  color: rgb(177, 177, 177);
  font-family: "Montserrat-Light";
}

.desc-italics {
  font-family: "Montserrat-Light-Italic";
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height: 150%;
  color: rgb(35, 34, 40);
}

.span-brown {
  color: rgb(164, 131, 78);
}

.span-brown-light {
  color: rgb(227, 195, 122);
}

.hamburger {
  display: none;
}

.body-scroll {
  overflow: hidden;
}

.btn-main {
  cursor: pointer;
  border: 0.1rem solid rgb(227, 195, 122);
  background: transparent;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  height: 4.4rem;
  font-family: "Optimal-Regular";
}
.btn-main:hover {
  background: rgb(227, 195, 122);
}
.btn-main_show {
  display: none;
}
.btn-main_call {
  width: 20rem;
}
.btn-main_call:hover {
  color: white;
}
.btn-main_read {
  width: 11rem;
  color: rgb(35, 34, 40);
}
.btn-main_read:hover {
  color: white;
}
.btn-main_subs {
  width: 16.9rem;
  color: rgb(35, 34, 40);
}
.btn-main_subs:hover {
  color: white;
}
.btn-main_read-more {
  width: 17.9rem;
  color: rgb(35, 34, 40);
}
.btn-main_read-more:hover {
  color: white;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(35, 34, 40);
  z-index: 120;
  opacity: 0.8;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 130;
}
.modal__wrapper {
  position: relative;
  width: 99.9rem;
  height: 58.1rem;
  display: flex;
  align-items: flex-end;
}
.modal__wrapper_success {
  height: 44.1rem;
}
.modal__item {
  width: 96.3rem;
  height: 54.4rem;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__item_success {
  height: 41.4rem;
}
.modal__content {
  border: 0.1rem solid rgb(164, 131, 78);
  width: 91.5rem;
  height: 49.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__content_success {
  height: 35.7rem;
}
.modal__title {
  max-width: 58.2rem;
  margin-bottom: 4rem;
  color: rgb(35, 34, 40);
  text-align: center;
}
.modal__title_success {
  max-width: 77.2rem;
  margin-bottom: 0rem;
}
.modal__title_subs {
  max-width: 77.2rem;
  margin-bottom: 0rem;
  font-size: 3.2rem;
}
.modal__input {
  border: 0.1rem solid rgb(177, 177, 177);
  color: rgb(177, 177, 177);
  width: 53.4rem;
  height: 4.4rem;
}
.modal__desc {
  width: 58.2rem;
}
.modal__desc_success {
  width: 75.2rem;
}
.modal__btn {
  width: 14.3rem;
}
.modal__btn:hover {
  color: white;
}
.modal__close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  width: 2.4rem;
  height: 2.4rem;
  font-size: 2.4rem;
  border: none;
  color: rgb(177, 177, 177);
}

.input-icon-modal {
  width: 53.4rem;
}
.input-icon-modal:not(:last-child) {
  margin-bottom: 2.4rem;
}
.input-icon-modal:last-child {
  margin-bottom: 4rem;
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(35, 34, 40);
  z-index: 300;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.preloader__circle {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background: rgb(164, 131, 78);
  animation: shine 0.5s infinite alternate;
}
.preloader__circle:nth-child(2) {
  animation-delay: 0.15s;
}
.preloader__circle:nth-child(3) {
  animation-delay: 0.3s;
}
.preloader__circle:not(:last-child) {
  margin-right: 4rem;
}

@keyframes shine {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hidden {
  display: none;
}

.js-validate-error-label {
  display: none;
}

.first-section {
  position: relative;
  height: fit-content;

}

@media(min-width: 575px) {
  .first-section {
    background-image: url("../images/first-back.png");
    background-image: image-set(
      url("../images/first-back.avif") type("image/avif"),
      url("../images/first-back.webp") type("image/webp"),
      url("../images/first-back.png")
    );
  }
  .first-section__mobile-img {
    display: none;
  }
}


@media(max-width: 575px) {
  .first-section__mobile-img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
}

.first-section__img-block {
  position: absolute;
  right: 0;
  bottom: 0;
}
.first-section__statue {
  position: relative;
  width: 717px;
  height: 592px;
}
.first-section__pictures {
  position: absolute;
  right: 16%;
  top: 18%;
}
.first-section__list-1 {
  margin-right: 2rem;
  transform: translateY(-8rem);
}
.first-section__list-3 {
  position: absolute;
  top: 2%;
  right: 74%;
}
.first-section__list-4 {
  position: absolute;
  top: 39%;
  right: 0.3%;
  z-index: 10;
}
.first-section__form {
  position: relative;
}
.first-section__main {
  position: relative;
}
.first-section__title {
  max-width: 61.3rem;
  margin-bottom: 3.2rem;
}
.first-section__desc {
  margin-bottom: 5.8rem;
}
.first-section__consultation {
  margin-bottom: 11.2rem;
}
.first-section__btn {
  color: white !important;
}
.first-section__img {
  position: absolute;
  width: 71.7rem;
  height: 59.2rem;
  z-index: 4;
}
.first-section__frame {
  position: absolute;
  bottom: 0;
  width: 67%;
  height: 14.4rem;
  background: rgb(35, 33, 39);
  opacity: 0.6;
}
.first-section__numbers {
  position: relative;
  z-index: 4;
}

.input-icon {
  position: relative;
}

.input-icon-modal {
  position: relative;
}

.input-icon-red-modal {
  position: relative;
}
.input-icon-red-modal::after {
  content: url("../icons/minus.svg");
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  right: 3%;
}

.input-icon-red {
  position: relative;
}
.input-icon-red::after {
  content: url("../icons/minus.svg");
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
}

.input-icon-red-second {
  position: relative;
}
.input-icon-red-second::after {
  content: url("../icons/minus.svg");
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  right: 3%;
}

.input {
  background: white;
  color: rgb(35, 34, 40);
  font-size: 1.4rem;
  font-family: "Montserrat-Light";
  line-height: 150%;
  padding-left: 1.2rem;
  letter-spacing: 1px;
}
.input:focus {
  outline: none;
}

.consultation__text {
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: white;
  margin-bottom: 2.4rem;
  font-family: "Optimal-Regular";
}
.consultation__call {
  display: flex;
  flex-direction: row;
}
.consultation__input {
  border: none;
  margin-right: 1rem;
  width: 29.8rem;
  height: 4.4rem;
  padding-left: 1.2rem;
}

.numbers {
  display: flex;
  flex-direction: row;
  padding-bottom: 3.8rem;
}
.numbers__item:not(:last-child) {
  margin-right: 20rem;
}
.numbers__digit {
  font-family: "Optimal-Regular";
  color: rgb(227, 195, 122);
  font-size: 4rem;
  line-height: 5.2rem;
  letter-spacing: 1px;
  margin-bottom: 1.6rem;
}

.border-bottom {
  border-bottom: 0.1rem solid rgb(177, 177, 177);
  margin-bottom: 7.7rem;
}

.logo {
  width: 36px;
  height: 23px;
}
.logo__link {
  margin-right: 2rem;
}

.nav {
  margin-right: 2rem;
}
.nav__list {
  display: flex;
  flex-direction: row;
}
.nav__item {
  position: relative;
  height: 4.4rem;
  cursor: pointer;
}
.nav__item:not(:last-child) {
  margin-right: 2.8rem;
}
.nav__item-link {
  color: white;
  height: 100%;
  display: inline-block;
}
.nav__item-span {
  position: absolute;
  bottom: -0.1rem;
  display: block;
  height: 0.2rem;
  width: 100%;
  background: rgb(227, 195, 122);
  opacity: 0;
}
.nav__item:hover .nav__item-link {
  color: rgb(227, 195, 122);
}
.nav__item:hover .nav__item-span {
  opacity: 1;
}
.nav__container {
  padding-top: 2.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.phone {
  font-size: 1.6rem;
  color: rgb(227, 195, 122);
  font-family: "Optimal-Regular";
  letter-spacing: 1px;
}

.second-section {
  position: relative;
  min-height: 62.4rem;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;

}
.second-section__img {
  max-width: 100%;
  position: absolute;
  bottom: 0;
  left: 8%;
}
.second-section__sign-img {
  max-width: 100%;
  position: absolute;
  bottom: -1%;
  right: -25%;
  opacity: 0.5;
}
.second-section__left {
  width: 25%;
  background-image: url("../images/human-back.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  background-image: image-set(
      url("../images/human-back.avif") type("image/avif"),     
      url("../images/human-back.webp") type("image/webp"),      
      url("../images/human-back.png")     
    );
}
.second-section__right {
  background: rgb(246, 244, 245);
  width: 75%;
}

.cytate {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20%;
}
.cytate__quote {
  position: absolute;
  z-index: 5;
}
.cytate__quote_left {
  bottom: 2.8rem;
  left: -8.8rem;
}
.cytate__quote_right {
  top: -4.6rem;
  right: -5.8rem;
}
.cytate__wrapper {
  position: relative;
}
.cytate__word {
  position: relative;
  color: rgb(177, 177, 177);
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: 1px;
  margin-bottom: 3.2rem;
  padding-left: 6rem;
  font-family: "Montserrat-Light";
}
.cytate__word::after {
  content: "";
  height: 0.1rem;
  width: 4.4rem;
  background: rgb(177, 177, 177);
  margin-right: 1rem;
  display: block;
  position: absolute;
  top: 45%;
  left: 0%;
}
.cytate__word_fourth {
  position: relative;
}
.cytate__word_fourth::after {
  top: 45%;
}
.cytate__title {
  color: rgb(35, 34, 40);
  max-width: 48.2rem;
  margin-bottom: 4rem;
}
.cytate__text {
  max-width: 52.3rem;
  margin-bottom: 10.3rem;
}
.cytate__text_fourth {
  margin-bottom: 4rem;
}
.cytate__author {
  margin-bottom: 1.6rem;
}
.cytate__author-job {
  color: rgb(177, 177, 177);
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: 1px;
  font-family: "Montserrat-Light";
}

.sticky {
  position: fixed;
  z-index: 50;
  background: rgb(35, 34, 40);
  width: 100%;
}

.third-section {
  position: relative;
  min-height: 62.4rem;
  padding: 8.3rem 0rem;
}
.third-section__img {
  max-width: 100%;
  position: absolute;
  right: 0%;
  top: 6.4%;
}
.third-section__text {
  margin-bottom: 3.2rem;
  text-align: center;
}
.third-section__desc {
  margin-bottom: 5.8rem;
}
.third-section__title {
  color: rgb(35, 34, 40);
  text-transform: uppercase;
  text-align: center;
}
.third-section__pluses {
  margin-bottom: 5.8rem;
}

.text-align {
  text-align: center;
}

.block-align {
  display: flex;
  justify-content: center;
}

.pluses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(313px, 1fr));
  gap: 2.4rem;
}
.pluses__item {
  position: relative;
  width: 30.6rem;
  height: 22.3rem;
  border: 0.1rem solid rgb(246, 244, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 2.5rem;
  background: white;
  z-index: 3;
}
.pluses__icon {
  width: 4.8rem;
  height: 4.8rem;
  margin-bottom: 3.2rem;
}
.pluses__title {
  margin-bottom: 1.6rem;
  text-transform: uppercase;
}
.pluses__desc {
  color: rgb(35, 34, 40);
  width: 22.7rem;
}

.fourth-section {
  padding: 8rem 0rem;
  background: rgb(246, 244, 245);
}
.fourth-section__main {
  display: flex;
  flex-direction: row;
}
.fourth-section__left {
  margin-right: 10rem;
}
.fourth-section__right {
  display: flex;
  flex-direction: row;
}

.workers__item:not(:last-child) {
  margin-right: 2rem;
}
.workers__img {
  width: 22.9rem;
  height: 29.9rem;
  position: absolute;
  bottom: 0;
}
.workers__img-item {
  position: relative;
  height: 31.2rem;
  width: 22.9rem;
}
.workers__img-item::before {
  content: "";
  width: 100%;
  background: rgb(164, 131, 78);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.workers__img-item_up {
  margin-bottom: 2.4rem;
}
.workers__title {
  margin-bottom: 1.6rem;
}
.workers__desc-down {
  margin-bottom: 2.4rem;
}

.fifth-section {
  position: relative;
  padding: 8rem 0rem;
}
.fifth-section__desc {
  margin-bottom: 4rem;
  text-align: center;
}
.fifth-section__text {
  margin-bottom: 3.2rem;
}
.fifth-section__main {
  position: relative;
  z-index: 4;
}
.fifth-section__img {
  width: 100%;
  position: absolute;
  top: 0;
  filter: brightness(1.5);
  height: 100%;
  object-fit: cover;
}
.fifth-section__back {
  width: 100%;
  height: 100%;
}
.fifth-section__back::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgb(35, 33, 39);
}

.choose {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(199px, 1fr));
  gap: 1.8rem;
  justify-items: center;
}
.choose__item {
  width: 20rem;
  height: 20rem;
  border: 0.1rem solid rgb(58, 58, 62);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.choose__svg {
  height: 8.6rem;
  margin-bottom: 1.3rem;
}
.choose__title {
  text-transform: uppercase;
  color: white;
}

.sixth-section {
  background: rgb(246, 244, 245);
  padding: 8rem 0rem;
}

.sixth-section__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.sixth-section__desc {
  text-align: center;
  margin-bottom: 3.6rem;
}
.sixth-section__title {
  color: rgb(35, 34, 40);
}
.sixth-section__text {
  margin-bottom: 3.2rem;
}
.sixth-section__slider {
  overflow: hidden;
  width: 90rem;
}
.sixth-section__slider-position {
  position: relative;
 
}

.sixth-section__slider-btn {
  background: rgb(164, 131, 78);
  width: 4.8rem;
  height: 4.8rem;
  color: white;
  font-size: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  border: none;
  top: 55%;
}

.swiper-pagination {
  position: relative;
  padding-top: 30px;
}

.swiper-pagination-bullet {
  width: 0.8rem;
  height: 0.8rem;
  background: white;
  border-radius: 100%;
  opacity: 1;
  margin-right: .6rem !important;
  position: relative;
}

.swiper-pagination-bullet-active {
  background: rgb(164, 131, 78);
}
.swiper-pagination-bullet:hover {
  background: rgb(164, 131, 78);
}

.swiper-pagination-bullet-active::after {
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100%;
  border: 0.1rem solid rgb(164, 131, 78);
  display: block;
  position: absolute;
  top: -4.5px;
  left: -4.5px;
  opacity: 1;
}

.swiper-button-prev {
  left: -12rem;

}
.swiper-button-next {
  right: -12rem;

}
.swiper-button-prev::after {
  content: ''
}
.swiper-button-next::after {
  content: ''
}

.swiper-slide {
  padding: 0rem 2rem;
}


.slider-filler-bottom {
  height: 10px;
}

.slider__item {
  position: relative;
  width: 89.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
  transition: transform 0.6s;
}
.slider__item:not(:last-child) {
  margin-right: 2.5rem;
}
.slider__item-align {
  display: flex;
  justify-content: center;
  transform: translateY(-6.5rem);
  margin-bottom: -4rem;
}
.slider__item-right-quote {
  position: absolute;
  z-index: 10;
  top: -6rem;
  right: 5.4rem;
}
.slider__item-left-quote {
  position: absolute;
  z-index: 10;
  bottom: -11rem;
  left: 5.4rem;
}
.slider__item-circle {
  background: rgb(246, 244, 245);
  width: 12.8rem;
  height: 12.8rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__item-img {
  width: 10.8rem;
}
.slider__item-filler {
  background: transparent;
  width: 100%;
  height: 7rem;
}
.slider__item-filler_bottom {
  height: 2rem;
}
.slider__item-content {
  position: relative;
  z-index: 2;
  background: white;
  height: 31.8rem;
  width: 85.4rem;
  padding: 0rem 8rem;
}
.slider__item-desc {
  margin-bottom: 4rem;
  text-align: center;
  max-width: 68.7rem;
}
.slider__item-title {
  margin-bottom: 1.6rem;
  text-align: center;
}
.slider__item-job {
  text-align: center;
}
.slider__item-frame {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  left: 0;
  background: transparent;
  height: 18.5rem;
  width: 89.8rem;
  border: 0.1rem solid rgb(164, 131, 78);
}

.seventh-section {
  position: relative;
  padding: 8rem 0rem;
}
.seventh-section__desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5.6rem;
}

.article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(221px, 1fr));
  gap: 2.3rem;
}
.article__item {
  width: 30.6rem;
  height: 43rem;
  background: white;
}
.article__img {
  height: 23.9rem;
  width: 30.6rem;
  object-fit: cover;
  object-position: top;
  margin-bottom: 2.5rem;
}
.article__date {
  margin-bottom: 1.6rem;
}
.article__title {
  margin-bottom: 1.6rem;
  width: 25.1rem;
  text-transform: uppercase;
}

.eight-section {
  background: rgb(246, 244, 245);
  padding: 8rem 0rem;
}
.eight-section__desc-1 {
  margin-bottom: 3.2rem;
  text-align: center;
}
.eight-section__title {
  margin-bottom: 4rem;
  color: rgb(35, 34, 40);
  text-align: center;
}
.eight-section__desc-2 {
  margin-bottom: 4.3rem;
  text-align: center;
}
.eight-section__main {
  margin: 0 auto;
  width: max-content;
}

.subscribe {
  display: flex;
  flex-direction: row;
}
.subscribe__input {
  border: none;
  width: 53.4rem;
  height: 4.4rem;
  margin-right: 1rem;
  padding-left: 1.2rem;
}

.ninth-section {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 48.8rem;
}
.ninth-section__map {
  width: 100%;
  height: 100%;
}
.ninth-section__left {
  width: 50%;
  position: relative;
}
.ninth-section__left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgb(108, 107, 110);
  opacity: 0.5;
  pointer-events: none;
}
.ninth-section__right {
  width: 50%;
}
.ninth-section__right::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  background: rgb(35, 33, 39);
}
.ninth-section__img {
  max-width: 100%;
  filter: brightness(1.5);
  height: 100%;
}
.ninth-section__main {
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translateY(-50%);
}
.ninth-section__contacts {
  margin-bottom: 3.2rem;
}
.ninth-section__adress {
  margin-bottom: 4rem;
}
.ninth-section__btn {
  color: white !important;
}
.ninth-section__title {
  color: white;
  max-width: 63.2rem;
}

.contacts {
  display: flex;
  flex-direction: row;
}
.contacts__phone {
  display: flex;
  flex-direction: row;
  margin-right: 8.2rem;
}
.contacts__phone-word {
  margin-right: 1.4rem;
  color: white;
}
.contacts__phone-number {
  color: rgb(227, 195, 122);
}
.contacts__mail {
  display: flex;
  flex-direction: row;
}
.contacts__mail-word {
  margin-right: 3.3rem;
  color: white;
}
.contacts__mail-number {
  color: rgb(227, 195, 122);
}
.contacts__text {
  font-size: 1.6rem;
  font-family: "Optimal-Regular";
  text-transform: uppercase;
}

.adress {
  display: flex;
  flex-direction: row;
}
.adress__word {
  color: white;
  margin-right: 4.1rem;
}
.adress__number {
  color: rgb(227, 195, 122);
}

.footer {
  background: rgb(246, 244, 245);
  padding: 2.2rem 0rem;
}
.footer__text {
  text-align: center;
  color: rgb(177, 177, 177);
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

@media (max-width: 1487px) {
  .pluses {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  .pluses__item {
    height: 22.3rem;
    width: 28.6rem;
  }
  .pluses__title {
    font-size: 1.4rem;
  }
  .pluses__desc {
    font-size: 1.3rem;
  }
}
@media (max-width: 1444px) {
  .first-section__img {
    right: -4%;
    width: 65.7rem;
    height: 61.2rem;
  }
  .first-section__statue {
    width: 65.7rem;
    height: 61.2rem;
  }
  .first-section__pictures {
    right: 12%;
    top: 19%;
  }
  .first-section__list-3 {
    right: 69%;
  }
  .first-section__list-4 {
    right: -4.7%;
  }
  .choose {
    grid-template-columns: repeat(auto-fit, minmax(182px, 1fr));
  }
  .choose__item {
    width: 18rem;
    height: 18rem;
  }
  .choose__svg {
    height: 7.6rem;
  }
  .article__img {
    width: 26.6rem;
    height: 22.9rem;
  }
  .ninth-section__main {
    right: 1%;
  }
  .cytate {
    right: 16%;
  }
  .fourth-section__left {
    margin-right: 5rem;
  }
  .workers__img {
    width: 20.9rem;
    height: 26.9rem;
  }
  .workers__img-item {
    width: 20.9rem;
    height: 29.2rem;
  }
}
@media (max-width: 1350px) {
  html {
    font-size: 60%;
  }
  .title-1 {
    font-size: 5.4rem;
  }
  .first-section__img {
    width: 63.7rem;
    height: 61.2rem;
  }
  .first-section__pictures {
    right: 11%;
    top: 18%;
  }
  .first-section__list-3 {
    right: 65%;
    top: 3%;
  }
  .first-section__list-4 {
    right: -5.7%;
  }
  .slider__main {
    width: 92.8rem;
  }
  .slider__item-left-quote {
    bottom: -11.5rem;
  }
  .slider__item-right-quote {
    top: -6.5rem;
  }
  .slider__item:not(:last-child) {
    margin-right: 4.5rem;
  }
  .third-section__img {
    height: 100%;
    top: 0%;
    bottom: 0%;
  }
  .choose {
    grid-template-columns: repeat(auto-fit, minmax(159px, 1fr));
  }
  .choose__item {
    width: 16rem;
    height: 16rem;
  }
  .pluses {
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
  }
  .pluses__item {
    height: 22.3rem;
    width: 26.6rem;
  }
  .pluses__title {
    font-size: 1.3rem;
  }
  .pluses__desc {
    font-size: 1.2rem;
  }
  .ninth-section__main {
    right: -3%;
  }
  .cytate {
    right: 11%;
  }
}
@media (max-width: 1250px) {
  .title-1 {
    font-size: 5.2rem;
  }
  .first-section__img {
    width: 55.7rem;
    height: 55.2rem;
    right: -5%;
  }
  .first-section__statue {
    width: 55.7rem;
    height: 55.2rem;
  }
  .first-section__pictures {
    right: 9%;
  }
  .first-section__list-4 {
    right: -6.7%;
    width: 10rem;
  }
  .first-section__frame {
    width: 73%;
  }
  .article {
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  }
  .ninth-section__main {
    right: -6%;
  }
  .cytate {
    right: 9%;
  }
  .cytate__title_fourth {
    font-size: 3.6rem;
  }
}
@media (max-width: 1199px) {
  .swiper-button-prev {
    left: -8rem;
  
  }
  .swiper-button-next {
    right: -8rem;
  
  }
  .swiper-slide {
    padding: 0rem 5rem;
  }
  .sixth-section__slider {
    width: 82rem;
  }
  .slider__item-frame {
    width: 92%;
    left: 2.8rem;
  }
  .slider__main {
    width: 89.8rem;
  }
  .slider__item {
    padding-left: 10rem;
  }
  .slider__item:not(:last-child) {
    margin-right: 6.5rem;
  }
  .slider__item-left-quote {
    left: 8.4rem;
  }
  .slider__item-right-quote {
    right: 8.4rem;
  }
  .slider__item-content {
    width: 71.4rem;
  }
  .choose {
    grid-template-columns: repeat(auto-fit, minmax(148px, 1fr));
  }
  .choose__item {
    width: 15.5rem;
    height: 15.5rem;
  }
  .third-section__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .third-section__img {
    height: 100%;
    top: 0%;
  }
  .pluses {
    width: 74rem;
    grid-template-columns: repeat(auto-fit, minmax(289px, 1fr));
  }
  .pluses__item {
    height: 28.3rem;
    width: 35.6rem;
  }
  .pluses__title {
    font-size: 1.7rem;
  }
  .pluses__desc {
    font-size: 1.6rem;
  }
  .cytate {
    right: 6%;
  }
  .cytate__quote {
    width: 5rem;
  }
  .cytate__quote_right {
    top: -4.6rem;
    right: -1.8rem;
  }
  .cytate__quote_left {
    bottom: 4.8rem;
    left: -7.8rem;
  }
  .cytate__text {
    max-width: 40.3rem;
  }
  .second-section__sign-img {
    width: 19rem;
    bottom: 0rem;
    top: 71%;
    right: -14%;
  }
  .workers__item:nth-child(3) {
    display: none;
  }
  .workers__item:not(:last-child) {
    margin-right: 0rem;
  }
  .workers__item:first-child {
    margin-right: 4rem;
  }
  .workers__img {
    width: 24.9rem;
    height: 31.9rem;
  }
  .workers__img-item {
    width: 24.9rem;
    height: 34.2rem;
  }
}
@media (max-width: 1170px) {
  .first-section__img {
    display: none;
  }
  .first-section__img-block {
    display: none;
  }
  .first-section__frame {
    width: 83%;
  }
  .ninth-section__main {
    right: -8%;
  }
}
@media (max-width: 1109px) {
  .workers__img {
    width: 21.9rem;
    height: 28.9rem;
  }
  .workers__img-item {
    width: 21.9rem;
    height: 31.2rem;
  }
}
@media (max-width: 1100px) {
  .modal__close_success {
    right: -24px;
  }
  .modal__wrapper {
    width: 78rem;
  }
  .modal__wrapper_success {
    height: 38.1rem;
  }
  .modal__item {
    width: 78rem;
  }
  .modal__item_success {
    height: 34.5rem;
  }
  .modal__content {
    width: 73.5rem;
  }
  .modal__content_success {
    height: 29.7rem;
  }
  .modal__title_success {
    font-size: 3.5rem;
  }
  .modal__title_success_subs {
    font-size: 3.2rem;
  }
  .choose {
    grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
  }
  .choose__item {
    width: 13.5rem;
    height: 13.5rem;
  }
  .choose__svg {
    height: 6.6rem;
  }
  .article {
    grid-template-columns: repeat(auto-fit, minmax(228px, 1fr));
  }
  .article__img {
    width: 28.6rem;
  }
  .contacts {
    flex-direction: column;
  }
  .contacts__phone {
    margin-right: 0rem;
    margin-bottom: 3rem;
  }
  .ninth-section__main {
    right: -13%;
  }
  .ninth-section__right {
    height: 57rem;
  }
  .ninth-section__consult-call {
    flex-direction: column;
  }
  .input-icon-third {
    width: 29.8rem;
    margin-bottom: 3rem;
  }
  .cytate {
    right: 2%;
  }
  .cytate__quote {
    width: 4rem;
  }
  .cytate__quote_right {
    top: -3.6rem;
    right: 0.2rem;
  }
  .cytate__quote_left {
    bottom: 6.8rem;
    left: -6.8rem;
  }
  .second-section__sign-img {
    right: -3%;
  }
  .second-section__img {
    left: 5%;
  }
}
@media (max-width: 1050px) {
  .ninth-section__main {
    right: -15%;
  }
  .slider__main {
    width: 90.8rem;
  }
}
@media (max-width: 991px) {
  .nav__mobile{
    padding-top: 2rem;
    padding-bottom: 17rem;
  }
  .sixth-section__slider-btn {
    display: none;
  }
  .subscribe__input {
    height: 5.4rem;
  }
  .input-icon-third {
    width: 41rem;
  }
  .modal__btn {
    width: 19.3rem;
  }
  .modal__close {
    font-size: 5.4rem;
    top: -21px;
    right: -21px;
  }
  .modal__input {
    font-size: 1.8rem !important;
  }
  .modal__title {
    font-size: 2.3rem !important;
  }
  .modal__title_subs {
    font-size: 2.7rem !important;
  }
  .modal__wrapper {
    width: 69rem;
    height: 49.1rem;
  }
  .modal__item {
    width: 69rem;
    height: 45.4rem;
  }
  .modal__content {
    width: 63.5rem;
    height: 39.7rem;
  }
  .modal__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .first-section__img {
    display: none;
  }
  .first-section__frame {
    width: 100%;
  }
  .nav {
    margin-right: 0;
  }
  .nav__list {
    display: none;
  }
  .nav__mobile {
    background: rgb(35, 34, 40);
    position: absolute;
    z-index: 13;
    width: 100%;
    height: 120vh;
    top: 0;
    left: 0;
    overflow: scroll;
    
  }
  .nav__list-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav__item {
    height: 6.4rem;
  }
  .nav__item:not(:last-child) {
    margin-right: 0rem;
  }
  .nav__item:first-child {
    margin-top: 15px;
  }
  .nav__item-link {
    font-size: 3.4rem !important;
  }
  .nav__item-span {
    display: none;
  }
  .nav__phone-hmg {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .nav__phone {
    margin-right: 4rem;
  }
  .nav__container {
    padding: 14px 0px;
    align-items: center;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 15;
    cursor: pointer;
  }
  .hamburger span {
    transition: all 1s;
    display: block;
    background: white;
    height: 3px;
    width: 42px;
  }
  .hamburger span:not(:last-child) {
    margin-bottom: 7px;
  }
  .hamspan span {
    transition: all 1s;
  }
  .hamspan span:first-child {
    transform: rotate(45deg) translate(10px, 10px);
  }
  .hamspan span:nth-child(2) {
    display: none;
  }
  .hamspan span:last-child {
    transform: rotate(-45deg) translate(-3px, 3px);
  }
  .numbers__item:not(:last-child) {
    margin-right: 17rem;
  }
  .desc-1 {
    font-size: 2rem;
  }
  .consultation__input {
    height: 5.4rem;
    width: 41rem;
  }
  .consultation__text {
    font-size: 2rem;
  }
  .input {
    font-size: 2.4rem;
  }
  .btn-main {
    height: 5.4rem;
    font-size: 1.9rem;
  }
  .btn-main_call {
    width: 23rem;
    color: rgb(35, 34, 40);
  }
  .phone {
    font-size: 1.9rem;
  }
  .title-2 {
    font-size: 3.4rem;
  }
  .desc-2 {
    font-size: 1.7rem;
  }
  .subscribe__input {
    font-size: 2rem;
  }
  .slider__btn {
    display: none;
  }
  .third-section__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .third-section__img {
    display: none;
  }
  .pluses {
    width: 68rem;
    grid-template-columns: repeat(auto-fit, minmax(289px, 1fr));
  }
  .pluses__item {
    height: 26.3rem;
    width: 32.6rem;
  }
  .fifth-section__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .choose {
    width: 53rem;
    grid-template-columns: repeat(auto-fit, minmax(157px, 1fr));
  }
  .choose__svg {
    height: 7.6rem;
  }
  .choose__item {
    width: 16rem;
    height: 16rem;
  }
  .seventh-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .seventh-section__desc {
    flex-direction: column;
    align-items: center;
  }
  .article {
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 4.3rem 1rem;
    width: 69rem;
  }
  .article__img {
    width: 30.6rem;
    height: 23.9rem;
  }
  .cytate__wrapper_ninth {
    text-align: center;
  }
  .cytate__word_first::after {
    left: 0%;
  }
  .cytate__word_seventh {
    position: relative;
    text-align: center;
  }
  .cytate__word_seventh::after {
    left: 28%;
    top: 45%;
  }
  .btn-main_read-more {
    width: 21.9rem;
  }
  .ninth-section {
    flex-direction: column;
  }
  .ninth-section__consult-text {
    text-align: center;
  }
  .ninth-section__consult-call {
    align-items: center;
  }
  .ninth-section__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 71%;
    right: 0%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
  }
  .ninth-section__img {
    height: 100%;
  }
  .ninth-section__left {
    height: 42rem;
    width: 100%;
    z-index: 45;
  }
  .ninth-section__left::before {
    width: 100%;
  }
  .ninth-section__right {
    width: 100%;
    height: 57rem;
  }
  .ninth-section__right::before {
    width: 100%;
    height: 100%;
  }
  .contacts {
    flex-direction: row;
    justify-content: center;
  }
  .contacts__phone {
    margin-right: 4rem;
    margin-bottom: 1.2rem;
  }
  .contacts__phone-word {
    margin-right: 1.4rem;
  }
  .contacts__mail-word {
    margin-right: 1.3rem;
  }
  .adress {
    justify-content: center;
  }
  .adress__word {
    margin-right: 2.6rem;
  }
  .cytate__word_ninth::after {
    left: 31%;
  }
  .second-section__img {
    display: none;
  }
  .second-section__sign-img {
    top: 76%;
  }
  .cytate {
    right: 10%;
  }
  .cytate__wrapper_fourth {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cytate__quote {
    display: none;
  }
  .cytate__text {
    margin-bottom: 7.3rem;
    max-width: 50.3rem;
    text-align: start;
  }
  .cytate__text_fourth {
    text-align: center;
    margin-bottom: 5.3rem;
    max-width: 59.3rem;
  }
  .cytate__word_fourth {
    position: relative;
  }
  .cytate__word_fourth::after {
    top: 45.1%;
  }
  .cytate__title_second {
    text-align: start;
    max-width: 41.3rem;
  }
  .cytate__title_fourth {
    text-align: center;
  }
  .cytate__author {
    text-align: start;
  }
  .cytate__author-job {
    text-align: start;
  }
  .fourth-section__main {
    flex-direction: column;
    align-items: center;
  }
  .fourth-section__left {
    margin-right: 0rem;
    margin-bottom: 8rem;
  }
  .fourth-section__right {
    flex-direction: row;
  }
  .workers__img {
    width: 22.9rem;
    height: 28.9rem;
  }
  .workers__img-item {
    width: 22.9rem;
    height: 31.2rem;
  }
}
@media (max-width: 891px) {
  
  .sixth-section__slider {
      width: 81rem;
    }
  .slider__item-frame {
     
      left: 3.4rem;
    }
  .cytate {
    right: 4%;
  }
}
@media (max-width: 767px) {
  .sixth-section__slider {
    width: 61rem;
  }
  .nav__list-mobile {
    justify-content: center;
  }
  .input-icon-modal {
    width: 36.4rem;
  }
  .modal__btn {
    width: 17.3rem;
    height: 4.8rem;
    font-size: 1.7rem;
  }
  .modal__close {
    top: 30px;
  }
  .modal__input {
    font-size: 1.4rem !important;
    width: 36.4rem;
  }
  .modal__title {
    font-size: 1.8rem !important;
    max-width: 33.2rem;
    line-height: 3.2rem !important;
  }
  .modal__title_success {
    font-size: 2.8rem !important;
    line-height: 4.2rem !important;
  }
  .modal__title_subs {
    font-size: 2.6rem !important;
    line-height: 4.2rem !important;
  }
  .modal__wrapper {
    width: 49rem;
    height: 58.1rem;
  }
  .modal__wrapper_success {
    height: 44.1rem;
  }
  .modal__item {
    width: 55rem;
    height: 47.4rem;
  }
  .modal__item_success {
    height: 34.4rem;
  }
  .modal__content {
    width: 43.5rem;
    height: 41.7rem;
  }
  .modal__content_success {
    height: 28.7rem;
  }
  .numbers__item:not(:last-child) {
    margin-right: 20%;
  }
  .subscribe {
    flex-direction: column;
    align-items: center;
  }
  .subscribe__input {
    width: 56.4rem;
    height: 5.4rem;
    margin-right: 0rem;
  }
  .input-icon-second {
    margin-bottom: 2rem;
  }
  .btn-main_subs {
    height: 6.4rem;
    width: 21.9rem;
  }
  .eight-section__main {
    width: 90%;
  }
  .slider__item {
    padding-left: 20rem;
  }
  .slider__item-content {
    width: 52.4rem;
    height: 38.8rem;
  }
  .slider__item-frame {
    width: 92%;
    top: 57%;
    left: 3rem;
  }
  .slider__item-left-quote {
    left: 9.4rem;
  }
  .slider__item:not(:last-child) {
    margin-right: 2.5rem;
  }
  .pluses {
    width: 54rem;
    grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
  }
  .pluses__item {
    height: 32.3rem;
    width: 25.6rem;
  }
  .pluses__item:nth-child(3) {
    padding-top: 2rem;
  }
  .article {
    grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
    width: 55rem;
    gap: 4.3rem;
  }
  .article__img {
    width: 25.6rem;
    height: 21.9rem;
  }
  .ninth-section__main {
    width: 82%;
    top: 71%;
  }
  .ninth-section__right {
    height: 58rem;
  }
  .ninth-section__consult-call {
    flex-direction: column;
    align-items: center;
  }
  .cytate {
    right: 7%;
  }
  .cytate__title_fourth {
    text-align: center;
  }
  .cytate__text {
    max-width: 40.3rem;
    margin-bottom: 5.3rem;
  }
  .cytate__text_fourth {
    text-align: center;
    max-width: 51.3rem;
  }
  .cytate__word::after {
    top: 45%;
  }
  .second-section__sign-img {
    display: none;
  }
  .fourth-section__main {
    align-items: center;
  }
  .fourth-section__left {
    margin-right: 0rem;
  }
  .fourth-section__right {
    flex-direction: row;
  }
  .workers__item:first-child {
    margin-bottom: 4rem;
    margin-right: 4rem;
  }
  .workers__item:nth-child(2) {
    margin-right: 0rem;
  }
  .workers__item:nth-child(3) {
    display: none;
  }
  .nav__item-link {
    font-size: 2.7rem !important;
  }
  .first-section__form {
    flex-direction: column;
  }
  .input-icon-first {
    width: 41rem;
    margin-bottom: 3rem;
  }
  .input-icon-red::after {
    right: 3%;
  }
}
@media (max-width: 660px) {
  .numbers__item:not(:last-child) {
    margin-right: 15%;
  }
  .title-1 {
    font-size: 4.6rem;
  }
  .cytate {
    right: -1%;
  }
  .cytate__word_ninth::after {
    left: 29%;
  }
  .workers__img {
    width: 20.9rem;
    height: 26.9rem;
  }
  .workers__img-item {
    width: 20.9rem;
    height: 29.9rem;
  }
}
@media (max-width: 575px) {
  /* .first-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/first-back-mobile.png");
    background-image: image-set(
        url("../images/first-back-mobile.avif") type("image/avif"),
        url("../images/first-back-mobile.webp") type("image/webp"),
        url("../images/first-back-mobile.png")
      );

  } */
  .nav__mobile {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .first-section {
    padding-bottom: 5rem;
  }
  .first-section__consultation {
    margin-bottom: 0rem;
  }
  .sixth-section__slider {
    width: 49rem;
  }

  .nav__list-mobile {
    height: 100vh;
  }
  .nav__item:first-child {
    margin-top: 0px;
}
  .input-icon-modal {
    width: 28.4rem;
  }
  .input-icon-second {
    width: 100%;
  }
  .preloader__circle {
    width: 3rem;
    height: 3rem;
  }
  .modal__title_subs {
    font-size: 2.1rem !important;
  }
  .modal__btn {
    width: 14.3rem;
    height: 4.4rem !important;
    font-size: 1.5rem !important;
  }
  .modal__close {
    top: 42px;
    right: 0px;
  }
  .modal__input {
    width: 28.4rem;
  }
  .modal__wrapper {
    width: 38rem;
    height: 58.1rem;
  }
  .modal__wrapper_success {
    height: 45.1rem;
  }
  .modal__item {
    width: 38rem;
    height: 46.4rem;
  }
  .modal__item_success {
    height: 34.4rem;
  }
  .modal__content {
    width: 33.5rem;
    height: 41.7rem;
  }
  .modal__content_success {
    height: 29.7rem;
  }
  .title-1 {
    font-size: 3.6rem;
  }
  .desc-1 {
    font-size: 2rem;
  }
  .nav__phone {
    display: none;
  }
  .nav__item-link {
    font-size: 2.4rem !important;
  }
  .consultation__call {
    display: flex;
    flex-direction: column;
  }
  .consultation__input {
    height: 5.4rem;
    width: 41rem;
  }
  .consultation__text {
    font-size: 2rem;
  }
  .input-icon-first {
    margin-bottom: 2rem;
  }
  .input {
    font-size: 2.4rem;
  }
  .btn-main {
    height: 5.4rem;
    font-size: 1.9rem;
  }
  .btn-main_call {
    width: 23rem;
  }
  .numbers {
    display: none;
  }
  .first-section__frame {
    display: none;
  }
  .title-2 {
    font-size: 2.6rem;
  }
  .subscribe__input {
    width: 100%;
    font-size: 1.8rem;
  }
  .slider__item {
    padding-left: 26rem;
  }
  .slider__item-job {
    font-size: 1.3rem;
  }
  .slider__item-content {
    width: 39.4rem;
    height: 40.8rem;
    padding: 0rem 4rem;
  }
  .slider__item-frame {
    display: none;
  }
  .slider__item-left-quote {
    display: none;
  }
  .slider__item-right-quote {
    display: none;
  }
  .choose {
    width: 34rem;
    grid-template-columns: repeat(auto-fit, minmax(143px, 1fr));
  }
  .pluses {
    width: 35rem;
    grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
  }
  .pluses__item {
    height: 30.3rem;
    width: 35.6rem;
  }
  .article {
    grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
    width: 35rem;
    gap: 9.3rem;
  }
  .article__img {
    width: 37.6rem;
    height: 28.9rem;
  }
  .cytate__word_seventh::after {
    left: 22%;
  }
  .cytate {
    right: 0%;
    top: 40%;
    width: 92%;
  }
  .cytate__word_ninth {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 1rem;
    padding-left: 0rem;
  }
  .cytate__word_ninth::after {
    position: relative;
    left: 0%;
  }
  .cytate__title_second {
    max-width: 31.3rem;
  }
  .cytate__title_fourth {
    max-width: 33.2rem;
    text-align: start;
  }
  .cytate__text {
    max-width: 38.3rem;
    margin-bottom: 4.3rem;
  }
  .cytate__text_fourth {
    text-align: start;
  }
  .cytate__word::after {
    top: 45%;
  }
  .cytate__word_fourth {
    text-align: start;
  }
  .cytate__word_fourth::after {
    top: 45%;
    left: 3%;
  }
  .contacts {
    flex-direction: column;
    align-items: center;
  }
  .contacts__phone {
    margin-right: 0rem;
    margin-bottom: 3rem;
  }
  .adress__word {
    margin-right: 1.6rem;
  }
  .second-section {
    flex-direction: column-reverse;
  }
  .second-section__right {
    width: 100%;
    height: 60rem;
  }
  .second-section__left {
    width: 100%;
    height: 14rem;
  }
  .fourth-section__main {
    flex-direction: column;
  }
  .fourth-section__left {
    margin-bottom: 6rem;
    margin-right: 0rem;
  }
  .workers__item:nth-child(3) {
    display: none;
  }
  .workers__title {
    font-size: 1.5rem;
  }
  .workers__img-item {
    height: 26.9rem;
    width: 19.9rem;
  }
  .workers__img {
    height: 25.9rem;
    width: 19.9rem;
  }
}
@media (max-width: 450px) {
  .first-section {
    height: fit-content;
  }
  .swiper-slide {
    padding: 0 2rem;
  }
  .sixth-section__slider {
    width: 33rem;
  }
  .input-icon-modal {
    width: 22.4rem;
  }
  .input-icon-first {
    width: 32rem;
  }
  .input-icon-third {
    width: 32rem;
  }
  .modal__input {
    font-size: 1.2rem !important;
    width: 22.4rem;
  }
  .modal__wrapper {
    width: 31rem;
  }
  .modal__wrapper_success {
    height: 39.1rem;
  }
  .modal__item {
    width: 31rem;
  }
  .modal__item_success {
    height: 28.4rem;
  }
  .modal__content {
    width: 26.5rem;
  }
  .modal__content_success {
    height: 23.7rem;
  }
  .modal__title {
    font-size: 1.6rem !important;
    max-width: 23.2rem;
    line-height: 2.8rem !important;
  }
  .modal__title_success {
    font-size: 1.9rem !important;
  }
  .title-1 {
    line-height: 5.2rem;
    font-size: 2.7rem;
  }
  .desc-1 {
    font-size: 1.9rem;
  }
  .consultation__input {
    width: 32rem;
  }
  .consultation__text {
    font-size: 1.9rem;
  }
  .slider__item {
    padding-left: 31rem;
  }
  .slider__item-job {
    font-size: 1.3rem;
  }
  .slider__item-content {
    width: 29.4rem;
    height: 44.8rem;
    padding: 0rem 4rem;
  }
  .slider__item-frame {
    display: none;
  }
  .slider__item-left-quote {
    display: none;
  }
  .slider__item-right-quote {
    display: none;
  }
  .desc-italics {
    font-size: 1.4rem;
  }
  .pluses {
    width: 30rem;
    grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
  }
  .pluses__item {
    height: 28.3rem;
    width: 30.6rem;
  }
  .article {
    grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
    width: 27rem;
    gap: 4.3rem;
  }
  .article__img {
    width: 27.6rem;
    height: 23.9rem;
  }
  .cytate {
    right: -2%;
    top: 40%;
    width: 92%;
  }
  .cytate__wrapper_fourth {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cytate__text {
    max-width: 31.3rem;
    margin-bottom: 4.3rem;
  }
  .cytate__title_fourth {
    font-size: 2.2rem;
  }
  .workers__desc-down {
    margin-top: 2.4rem;
  }
  .workers__item:not(:last-child) {
    margin-right: 0rem;
  }
  .workers__item:first-child {
    margin-bottom: 4rem;
  }
  .workers__item:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
  }
  .workers__img-item {
    width: 22.9rem;
    height: 31.9rem;
  }
  .workers__img-item:nth-child(2) {
    margin-bottom: 2.4rem;
  }
  .workers__img {
    height: 29.9rem;
    width: 22.9rem;
  }
  .fourth-section__right {
    flex-direction: column;
    align-items: center;
  }
  .cytate__title_fourth {
    text-align: center;
  }
  .workers__img {
    width: 25.9rem;
    height: 32.9rem;
  }
  .workers__img-item {
    width: 25.9rem;
    height: 34.9rem;
  }
}

@media (max-width: 360px) {
  .input-icon-modal {
    width: 18.4rem;
  }
  .input-icon-third {
    width: 28rem;
  }
  .modal__close {
    right: 11px;
  }
  .modal__input {
    font-size: 1.1rem !important;
    width: 18.4rem;
  }
  .modal__wrapper {
    width: 27rem;
  }
  .modal__wrapper_success {
    height: 36.9rem;
  }
  .modal__item {
    width: 27rem;
  }
  .modal__item_success {
    height: 25.4rem;
  }
  .modal__content {
    width: 22.5rem;
  }
  .modal__content_success {
    height: 20.7rem;
  }
  .modal__title {
    font-size: 1.3rem !important;
    max-width: 20.2rem;
    line-height: 2.6rem !important;
  }
  .modal__title_success {
    font-size: 1.6rem !important;
  }
  .title-1 {
    line-height: 4.2rem;
    font-size: 2.3rem;
    width: 30rem;
  }
  .desc-1 {
    font-size: 1.7rem;
  }
  .consultation__call {
    align-items: center;
  }
  .consultation__input {
    width: 28rem;
  }
  .input-icon-first {
    width: 28rem;
  }
  .btn-main_call {
    width: 28rem;
  }
  .first-section__consultation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .first-section__consultation__text {
    font-size: 1.9rem;
  }
  .slider__item {
    padding-left: 31rem;
  }
  .slider__item-job {
    font-size: 1.3rem;
  }
  .slider__item-content {
    width: 29.4rem;
    height: 44.8rem;
    padding: 0rem 4rem;
  }
  .slider__item-frame {
    display: none;
  }
  .slider__item-left-quote {
    display: none;
  }
  .slider__item-right-quote {
    display: none;
  }
  .desc-italics {
    font-size: 1.4rem;
  }
  .choose {
    width: 31rem;
  }
  .choose__item {
    width: 18rem;
    height: 18rem;
  }
  .pluses {
    width: 27rem;
    grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
  }
  .pluses__item {
    height: 29.3rem;
    width: 26.6rem;
  }
  .article {
    width: 28rem;
  }
  .cytate {
    right: -1%;
    width: 94%;
  }
  .cytate__title_fourth {
    text-align: center;
  }
  .cytate__text {
    max-width: 28.3rem;
  }
  .cytate__author {
    text-align: start;
  }
  .cytate__author-job {
    text-align: start;
  }
  .choose {
    height: 38rem;
    overflow: hidden;
    margin-bottom: 2rem;
  }
  .choose_height {
    height: 117rem;
  }
  .btn-main_show {
    border: 0.1rem solid rgb(164, 131, 78);
    display: block;
    width: 18rem;
    color: white;
    background: rgb(164, 131, 78);
  }
}/*# sourceMappingURL=style.css.map */